body {
    background-color: rgb(0, 77, 128);
}

h1 {
    text-align: center;
    color: white;
    font-size: 50px;
}

ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 30px 50px;
}

ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc( (100% / 7) - 20px );
    padding: 40px 0;
    min-height: 20px;
    background-color: rgb(0, 132, 255);
    font-size: 20px;
}

.box-green {
    background-color: green;
}

.box-yellow {
    background-color: yellow;
}

.box-red {
    background-color: red;
}